﻿.orange_table td, th {
    text-align: center;
    vertical-align: central;
    padding: 10px;
    border-style: hidden;
}

.orange_table td {

}

.orange_table th {
    background-color: #ffca08;
    
}

.orange_table tr {
    border-style: hidden;
}

.orange_table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.orange_table tr:hover {
    outline: 1px solid #ffca08;
}