﻿@model IEnumerable<IkeaWebApiLibrary.Appointment>

@{
    ViewBag.Title = "Каток в ТЦ Мега - Мониторинг бронированного времени";
}

@Styles.Render("~/Content/Table.css")
@Styles.Render("~/Content/Container.css")

@Scripts.Render("~/Scripts/knockout-3.4.2.js")
@Scripts.Render("~/Scripts/tableUpdate.js")

<div class="horizontal_container">
    <div display="inline-block">
        <img src="https://mega.ru/local/templates/main/markup/build/img/logo_mega.svg" />
    </div>

    <div>
        <h1>Каток</h1>
    </div>
</div>

<div>
    <h2>Мониторинг бронированного времени</h2>

    <table class="orange_table">
        <tr>
            <th>
                Сеанс
            </th>
            <th>
                Количество посетителей
            </th>
        </tr>

        <tbody data-bind="foreach: appointments">
            <tr>
                <td data-bind="text: timeInterval" />
                <td data-bind="text: usersCount" />
            </tr>
        </tbody>
    </table>
</div>